{% extends 'mysite/base.html' %}

{% block content %}
    <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

<style>

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 20px;
}
    footer {
  background-color:black;
  padding: 10px;
  text-align: center;
  color: white;

}

</style>

</head>
<body>
<div class="container">
  <h2>We're ready to help you. REACH US!!</h2>
  <p>We Answer during 24 hours in working days.</p>
  <br>

  <div class="row">
    <div class="col-sm-6" style="background-color: #f2f2f2;">
    <h2 style="color: red"><center>Contact Us!!!</center></h2>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">
    <input type="text" id="contact number" name="contactnumber" placeholder="10 digitsmobile number">
    <input type="text" id="email" name="email" placeholder="E-mail">
    <form action="//www.html.am/html-codes/forms/html-form-tag-action.cfm" target="result" method="get" >
<p>Looking For</p>
<input type="radio" value="male">Courses
<input type="radio"  value="female">Job
<input type="radio"  value="female">Franchise


    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea><br><br>
    <div>  <input type="checkbox" > By Submitting the form, you agree to our <a href="">Terms, Data Policy & Cookie Policy.<br>
    </a></div><br>\<br>

   <center><input type="submit" value="Submit"></center>

  </form>
</div>
<div class="col-sm-6">
      <div><button class="btn" style="background-color: red";><i class="fa fa-phone" style="font-size:12px;color:white"></i></button><span style="margin-left:35px;font-size:18px;margin-top:3px;margin-bottom:5px;">PHONE</span><br><br>
        <strong>phone:</strong> <a style="color: red;font-size:16px" href="">+91-9951666670</a><br><br><br>
        <button class="btn" style="background-color: red";><i class="fa fa-map-marker" style="font-size:12px;color:white"></i></button><span style="margin-left:35px;font-size:18px;margin-top:3px;margin-bottom:5px;">ADDRESS</span><br><br>
       <a style="color: red;font-size:16px" href="">#206 A, 2nd Floor, Fortune Signature,<br>
Near JNTU Metro Station,<br>
Opp: More Mega Store,<br>
Kukatpally, Hyderabad, Telangana</a><br><br>
<button class="btn" style="background-color: red";><i class="fa fa-envelope" style="font-size:12px;color:white"></i></button><span style="margin-left:35px;font-size:18px;margin-top:3px;margin-bottom:5px;">E-MAIL</span><br><br>
       <strong>For Course details:</strong><a style="color: red;font-size:16px" href="">info@innomatics.in</a><br><strong>For Careers:</strong><a style="color: red;font-size:16px" href="">hr@innomatics.in</a><br><strong>For Franchise:</strong><a style="color: red;font-size:16px" href="">vishwanath.nyathani@innomatics.in</a><br><br>
       <button class="btn" style="background-color: red";><i class="fas fa-share-alt" style="font-size:12px;color:white"></i></button><span style="margin-left:35px;font-size:18px;margin-top:3px;margin-bottom:5px;">FOLLOW US</span><br><br>
          <button class="btn" style="background-color: red";><a href="https://www.facebook.com/innomaticshyd" title="Facebook"><i class="fab fa-facebook" style="font-size:18px;color:white"></i></a></button>
          <button class="btn" style="background-color: red";><a href="https://twitter.com/innomaticshyd" title="Twitter" ><i class="fab fa-twitter" style="font-size:18px;color:white"></i></a></button>
          <button class="btn" style="background-color: red";><a href="https://www.instagram.com/innomatics_hyd" title="Instagram"><i class="fab fa-instagram" style="font-size:18px;color:white"></i></a></button>


</div></div></div></div>
<footer>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>COURSES</h3>
      <a href="">Advanced Data Science Course Training<br> <br>
<a href=""> Summer Camp(for Students)</a><br><br>
<a href="">Artificial Intelligence</a><br><br>
<a href="">Big Data Analytics</a><br><br>
<a href="">Amazon Web Services(AWS) <a><br><br>
<a href="">Digital Marketing.</a>
    </div>
    <div class="col-sm-3">
      <h3>COMPANY</h3>
      <a href="">About Us</a><br> <br>
<a href="">Services</a><br><br>
<a href="">Reviews</a><br><br>
<a href=""> Contact Us </a><br><br>
<a href=""> Privacy Policy</a>

    </div>
    <div class="col-sm-3">
      <h3> ADDRESS</h3>
Software Training Institute in Hyderabad .<br>
Timings: Monday to Sunday, 9:00 - 21:00<br>
-<br>
#206 A, 2nd Floor, Fortune Signature,<br>
near JNTU Metro Station, Opp: More  <br>
Mega Store, Kukatpally Hyderabad <br>
Telangana 500085 Phone: +91-9951666670<br>
Email: info@innomatics.in<br>
 www.innomatics.in<br>
  Location
    </div>
    <div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>Follow Us</h3>
      <button class="btn" style="background-color: red";><a href="https://www.facebook.com/innomaticshyd" title="Facebook"><i class="fab fa-facebook" style="font-size:18px;color:white"></i></a></button>
       <button class="btn" style="background-color: red";><a href="https://twitter.com/innomaticshyd" title="Twitter" ><i class="fab fa-twitter" style="font-size:18px;color:white"></i></a></button>
<button class="btn" style="background-color: red";><a href="https://www.instagram.com/innomatics_hyd" title="Instagram"><i class="fab fa-instagram" style="font-size:18px;color:white"></i></a></button>
  </div>
  </div>
    </div></div></div>
</footer>
</body></html>
{% endblock %}

